:root{
    --primary-color: black;
    --body-color: #2d2d2f;
    --menubox-color: #575757;
    --border-color: #f9f9f9;
    --icon-color: #999;
    --icon-namecolor: #404042;
    --main-color: #28e98c;
    --primary-textcolor: #fff;
    --normaltext-color: #999;
}